<footer>
    <nav>
    <a href="itis3135/">ITIS 3135</a> |
    <a href="https://github.com/limegreenfruit500" target="_blank">Github</a> |
    <a href="https://limegreenfruit500.github.io/" target="_blank">Github.io</a> |
    <a href="https://limegreenfruit500.github.io/itis3135/" target="_blank">itis3135.io</a> |
    <a href="https://www.freecodecamp.org/limegreenfruit500" target="_blank">FreeCodeCamp</a> |
    <a href="https://www.codecademy.com/profiles/limegreenfruit500" target="_blank">Codecademy</a> |
    <a href="https://www.linkedin.com/in/jacob-bell/" target="_blank">LinkedIn</a> |
    <a href="https://accumulus.com/" target="_blank">Accumulus</a>
    </nav>
    <nav>
    <p>Page designed by © 2025 <a href="jbelldesigns.com">JBell Designs</a></p>
    </nav>
</footer>
