<h1>Jacob Bell's Jolly Baboon - ITIS 3135</h1>
        <p class="tagline">Exploring Web Development at UNC Charlotte</p>
        <nav>
            <a href="./">Home</a>"
        </nav>
        <nav>
            <a href="mascot_company/about.html">Jacob's Jolly Baboon Company</a> |
            <a href="stuff/craplimefruitscrap.htm">Crappy Website</a> |
            <a href="fccfsjs_outline.html">freeCodeCamp Javascript Outline</a> |
            <a href="hobby/index.html">Hobby Site</a> |
            <a href="intro_form.html">Intro Form</a>
        </nav>