<header>
    <h1>Jacob Bell's Jolly Baboon - ITIS 3135</h1>
    <p class="tagline">Exploring Web Development at UNC Charlotte</p>

    <nav>
        <a href="./">Home</a> ~
        <a href="introduction.html">Introduction</a> ~
        <a href="contract.html">Contract</a> ~
        <a href="jolly_baboon/index.html">Sage Hummingbird Company</a> ~
        <a href="stuff/craplimefruitscrap.html">Crappy ✩♡✩ Website</a> ~
        <a href="website_evaluations.html">Website Evaluations</a> ~
        <a href="fccfsjs_outline.html">freeCodeCamp Javascript Outline</a> ~
        <a href="hobby/index.html">Hobby Site</a> ~
        <a href="intro_form.html">Intro Form</a> ~
        <a href="project_overview.html">Project Overview</a> ~
        <a href="client_project_p2.html">Client Project P2</a> ~
        <a href="react3.html">React3</a> ~
        <a href="review1.html">Peer Review 1</a> ~
        <a href="review2.html">Peer Review 2</a>
    </nav>
</header>